.bg_pink {
  background-color: var(--clr-pink-light);
}
.bg_sky {
  background-color: var(--clr-sky);
}
.text_shadow {
  text-shadow: 1px 4px #f683c5;
}
.text_shadow_impactsec {
  text-shadow: 1px 4px #3d53a0;
}
.max_w_aboutus_cloud {
  max-width: 1085px;
}
.max_768px_bg_white {
  background-color: var(--clr-white);
}
.border_radius_bg_white {
  border-radius: 25px;
}
.px_bout_us_para {
  padding: 0 12px;
}
.box_shadow_bg_box {
  box-shadow: 10px 15px 5px rgba(255, 255, 255, 0.3);
}

.mt_minus_4px {
  margin-top: -4px;
}
.mt_minus_6px {
  margin-top: -6px;
}
.mt_minus_10per {
  margin-top: -7.5%;
}
.mt_minus_8per {
  margin-top: -8%;
}
.right_bear_pos {
  max-width: 386px;
  width: 100%;
  right: -1%;
  top: -15%;
  z-index: 1;
}
.max_h_pinkwave {
  max-height: 430px;
}
.max_w_gif {
  max-width: 446px;
}
.h_gif {
  height: 346px;
}
.object_fit_cover {
  object-fit: cover;
}
.p_13px {
  padding: 13px;
}
.border_radus_20px {
  border-radius: 20.8px;
}
.box_shadow_gif {
  box-shadow: 15.341524124145508px 15.341524124145508px 4.3832926750183105px 0px
    rgba(0, 0, 0, 0.25);
}
.trnsfrm_rotate_180deg {
  transform: rotateY(180deg);
}
.about_left_tree_pos {
  bottom: 2%;
  z-index: 45;
}
.impact_backwave_pos {
  bottom: -12%;
  z-index: 1;
}
.impact_left_cloud_pos {
  bottom: -5%;
}
.mt_minus_6_per {
  margin-top: -6%;
}
.fs_about_us_para {
  font-size: 14px !important;
}
.end_pos_impact_rainbow {
  top: 4%;
  right: 0%;
  width: 280px;
}
@media (min-width: 767.98px) {
  .max_768px_bg_white {
    background-color: unset;
  }

  .end_pos_impact_rainbow {
    right: 0%;
    width: 352px;
    top: 0%;
  }
  .transfrm_trnslte_aboutus_heading {
    transform: translateX(-3%);
  }
  .box_shadow_bg_box {
    box-shadow: unset;
  }
  .px_bout_us_para {
    padding: unset;
  }
  .ml_cloud_text {
    margin-left: 17% !important;
  }
  .max_w_left_tree_aboutus {
    max-width: 15%;
  }
  .bg_aboutus_cloud {
    background-size: 100% 100%;
  }
  .bg_aboutus_cloud_img {
    background-image: url("../src/assets/img/webp/aboutuscloud.webp");
    background-repeat: no-repeat;
    background-position: center;
  }
  .leftbear_img_aboutus::after {
    content: url("../src/assets/img/webp/aboutleftbear.webp");
    position: absolute;
    z-index: -1;
    top: -14%;
    left: -4%;
  }
  .max_w_aboutus_text {
    max-width: 440px;
  }
  .trnsfrm_trnsltex_2_per {
    transform: translateX(2%);
  }
}
@media (min-width: 991.98px) {
  .ml_cloud_text {
    margin-left: 10% !important;
  }

  .end_pos_impact_rainbow {
    right: 0%;
    width: 389px;
    top: 6%;
  }
  .fs_about_us_para {
    font-size: var(--fs-md) !important;
  }
  .bg_aboutus_cloud {
    background-size: 100% 100%;
  }
  .max_w_aboutus_text {
    max-width: 707px;
  }
  .h_gif {
    height: 497px;
  }
}
@media (min-width: 1199.98px) {
  .bg_aboutus_cloud {
    background-size: 100% 100%;
  }
  .ml_cloud_text {
    margin-left: 15% !important;
  }
  .max_w_left_tree_aboutus {
    max-width: 15%;
  }
}
@media (min-width: 1499.98px) {
  .end_pos_impact_rainbow {
    right: 0%;
    top: -8%;
    width: 500px;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Cherry+Bomb+One&family=Chewy&display=swap");
* {
  list-style-type: none;
  text-decoration: none !important;
}
.ff_Balsamiq {
  font-family: "Balsamiq Sans", cursive;
}
.ff_Cherry {
  font-family: "Cherry Bomb One", cursive;
}
:root {
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 14px;
  --fs-xl: 20px;
  --fs-xxl: 22px;
  --fs-2xl: 24px;
  --fs-3xl: 28px;
  --fs-4xl: 41px;
  --fs-5xl: 70px;
  --fs-6xl: 45px;
  --fs-50: 50px;
  /*  */
  --clr-white: #fff;
  --clr-primary: #0d0d0d;
  --clr-primary-transparent: #0d0d0dbd;
  --clr-pink: #eec4de;
  --clr-pink-loader: #eec4deef;
  --clr-sky-dark: #4cbaff;
  --clr-yellow: #fcbe69;
  --clr-yellow-off: #fcbf6969;
  --clr-green: #9acc44;
  --clr-sky: #93d8fd;
  --clr-pink-light: #eec4dc;
  --clr-dark-green: #5ba72b;
  --clr-logo-yellow: #ff9300;
  --clr-svg-hover-fill: #6accf6;
  --clr-scrollbar-main: #f5f5f5;
  --clr-scrollbar-child: #0d0d0d6f;
  --clr-Tab-bg-green: #9acc44;
  /*  */
  --text-shaddow-clr-pink: #f683c5;
  --text-shaddow-logo: #ffd49a;
  --text-shaddow-clr-light-blue: #3d53ad;
  --text-shaddow-clr-green: #5ba72b;
  --text-shaddow-clr-yellow: #fb9100;
  --text-shaddow-clr-off-green: #cffe7f;
  --text-shaddow-clr-grey: rgba(255, 255, 255, 0.25);
  /*  */
  --lh-103: 103.16%;
  --lh-150: 150%;
  --lh-126: 126%;
  /*  */
  --opacity07: 0.7;
  --opacity06: 0.699999988079071;
  --opacity03: 0.3;
  /*  */
  --border-light-black: rgba(0, 0, 0, 0.3);
  /*  */
  --trans-300: all 300ms linear;
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_xxl {
  font-size: var(--fs-xxl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_5xl {
  font-size: var(--fs-5xl);
}
.fs_6xl {
  font-size: var(--fs-6xl);
}
.fs_50 {
  font-size: var(--fs-50);
}
/*  */
.clr_white {
  color: var(--clr-white);
}
.clr_primary {
  color: var(--clr-primary);
}
.clr_pink {
  color: var(--clr-pink);
}
.clr_pink_light {
  color: var(--clr-pink-light);
}
.clr_dark_green {
  color: var(--clr-dark-green);
}
.clr_green {
  color: var(--clr-green);
}
.clr_sky_dark {
  color: var(--clr-sky-dark);
}
.clr_sky {
  color: var(--clr-sky);
}
.clr_yellow {
  color: var(--clr-yellow);
}
.clr_logo_yellow {
  color: var(--clr-logo-yellow);
}
.bg_clr_green_tab {
  color: var(--clr-Tab-bg-green);
}
/*  */
.text_shaddow_clr_pink {
  text-shadow: var(--text-shaddow-clr-pink);
}
.text_shaddow_clr_light_blue {
  text-shadow: var(--text-shaddow-clr-light-blue);
}
.text_shaddow_clr_green {
  text-shadow: var(--text-shaddow-clr-green);
}
.text_shaddow_clr_grey {
  text-shadow: var(--text-shaddow-clr-grey);
}
.text_shaddow_clr_yellow {
  text-shadow: var(--text-shaddow-clr-yellow);
}
.text_shaddow_clr_off_green {
  text-shadow: var(--text-shaddow-clr-off-green);
}
.opacity07 {
  opacity: var(--opacity07);
}
.opacity06 {
  opacity: var(--opacity06);
}
.opacity03 {
  opacity: var(--opacity03);
}
.transition300 {
  transition: var(--trans-300);
}
.lh_103 {
  line-height: var(--lh-103);
}
.lh_126 {
  line-height: var(--lh-126);
}
.lh_150 {
  line-height: var(--lh-150);
}
.border_light_bleck {
  border-color: var(--border-light-black);
}
/*  */
body {
  background: linear-gradient(to top, #90d7fc 0%, #d0efff 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--clr-primary);
  background-color: var(--clr-scrollbar-main);
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--clr-scrollbar-child);
}

/*========================================================  */
.page_logo_texts,
.page_logo_texts2 {
  color: var(--clr-logo-yellow);
  text-shadow: 1px 1px var(--text-shaddow-logo);
  font-family: "Chewy", cursive;
  font-size: 24.062px;
  font-weight: 400;
}

.page_logo_texts {
  color: var(--clr-logo-yellow);
}
.page_logo_texts2 {
  color: var(--clr-dark-green);
  text-shadow: 1px 1px var(--text-shaddow-clr-off-green);
}

.logo_image {
  width: 32.018px;
  height: 49.653px;
}
.bg_grident_hero {
  background: linear-gradient(180deg, #90d7fc 0%, #d0efff 100%);
}
.navcommon__wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh !important;
  background: var(--clr-primary-transparent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 123 !important;
  transition: all 300ms ease-in-out;
  top: 0;
}
.NAVSHOW {
  left: 0;
}
.NAVEHIDE {
  left: -110%;
}
.threeline {
  width: 25px;
  z-index: 124;
  position: inherit;
}
.threelinechild {
  width: 100%;
  height: 2px;
  margin-top: 4px;
  transition: all 0.4s ease-in-out;
  background-color: var(--clr-white);
}

.falseline1 {
  width: 70%;
  transition: all 0.4s ease-in-out;
  transform: rotate(50deg) translate(10%, -10%);
}
.falseline3 {
  width: 70%;
  transition: all 0.4s ease-in-out;
  transform: rotate(-50deg) translate(4px, -2px);
}
.hover_navlink::before {
  content: "";
  right: 0;
  bottom: -3px;
  height: 2px;
  width: 0%;
  background-color: var(--clr-white);
  position: absolute;
  transition: var(--trans-300);
}
.hover_navlink:hover::before {
  content: "";
  left: 0;
  width: 100%;
}
.hero_text_shaddow {
  text-shadow: 2px 4px rgba(0, 0, 0, 0.25) !important;
}
.text_shaddow_main_pera {
  text-shadow: 1px 2px rgba(0, 0, 0, 0.25) !important;
}
.btn_main {
  padding: 13px 24px;
  border-radius: 44px;
  background: var(--clr-sky-dark);
  transition: var(--trans-300);
  color: var(--clr-white);
}
.btn_main:hover {
  background-color: var(--clr-pink-light);
}
.img_wall_hero {
  left: -180px;
  bottom: -15px;
  width: calc(100% + 342px);
}
.img_hero_wave_green {
  left: -25px;
  bottom: 0;
  width: calc(100% + 50px) !important;
  transform: translateY(28%) !important;
}
.tree_left {
  width: 210px;
  z-index: 123;
  left: 0;
  transform: translateX(-60%);
  bottom: 0px;
}
.tree_right {
  width: 228px;
  z-index: 123;
  right: 0;
  transform: translateX(50%);
  bottom: -13px;
}
.scale_1_1 {
  transform: scale(1.15);
}
.overflow_custom {
  overflow-y: hidden;
}
.w_custom_images_hero {
  width: 20%;
}
/* ============================================== */
.add_clr:nth-child(3) {
  color: var(--clr-logo-yellow);
}
.add_clr:nth-child(4) {
  color: var(--clr-dark-green);
}
.heroText_width {
  max-width: 290px;
}
.CloudRenbow {
  top: -9%;
  width: 238px;
  left: -24%;
}
.CloudFat_1 {
  top: 32%;
  width: 113px;
  transform: scale(0.8);
  animation: Fatcl4 25s linear 1.9s infinite forwards;
}
.CloudFat_2 {
  top: -8%;
  width: 190px;
  right: -5%;
  animation: Fatcl4 30s linear 1.9s infinite forwards;
}

.CloudFat_3 {
  top: 23%;
  width: 75px;
  right: 11%;
  transform: scale(0.8);
  animation: Fatcl4 35s linear 1.9s infinite forwards;
}
.CloudFat_4 {
  top: 6%;
  width: 110px;
  right: 16%;
  transform: scale(1.3);
  transform: scale(0.8);
  animation: Fatcl4 40s linear 1.9s infinite forwards;
}
@keyframes Fatcl4 {
  0% {
    right: -10%;
  }
  100% {
    right: 110%;
  }
}
/* =============================================== */
.Loader__custom::after,
.Loader__custom::before {
  top: 0;
  height: 100%;
  width: 50%;
  content: "";
  position: absolute;
  transition: all 800ms ease-out;
  background-color: var(--clr-pink-loader);
  background-image: url(./assets//img/webp/cloudBg_main_hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.Loader__custom::before {
  top: 0;
  left: 0%;
  background-position: left bottom;
}
.Loader__custom::after {
  top: 0;
  right: 0%;
  background-position: center bottom;
}
.loader__remove::after,
.loader__remove::before {
  width: 0% !important;
}
/* loaderPPP */
.loader {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 1400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ------------------------------------------------ */
.line_afterTab {
  width: 70%;
  bottom: -25px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border: 2px solid #000;
  background-color: var(--clr-white);
  z-index: 1;
}
.line_afterTab span {
  display: inline-block;
  height: 100%;
  background-color: var(--clr-dark-green);
  z-index: 3;
}
.line_afterTab .span1 {
  width: 25%;
}
.line_afterTab .span2 {
  width: 50%;
}
.line_afterTab .span3 {
  width: 75%;
}

.line_afterTab .span4 {
  width: 100%;
}
/* -=--------------================------------------- */
@media (min-width: 576px) {
  .heroText_width {
    max-width: 702px;
  }
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 14px;
    --fs-xl: 20px;
    --fs-xxl: 22px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 41px;
    --fs-5xl: 70px;
    --fs-6xl: 80px;
    --fs-50: 50px;
  }
  .btn_main {
    padding: 16px 48px;
  }
  .img_wall_hero {
    bottom: -22px;
  }
  .tree_left {
    width: 300px;
    transform: translateX(-35%);
    bottom: 0px;
  }
  .tree_right {
    width: 314px;
    transform: translateX(25%);
    bottom: 0px;
  }
  .page_logo_texts,
  .page_logo_texts2 {
    font-size: 31.062px;
  }
  .logo_image {
    width: 42.018px;
    height: 59.653px;
  }
  .CloudRenbow {
    top: -7%;
    width: 311px;
    left: -10%;
  }
}
@media (min-width: 768px) {
  .line_afterTab {
    bottom: -60px;
    width: 40%;
  }
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 16px;
    --fs-xl: 20px;
    --fs-xxl: 22px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 41px;
    --fs-5xl: 70px;
    --fs-6xl: 70px;
    --fs-50: 50px;
  }
  .maxwidth_custom_hero_pera {
    max-width: 600px;
  }
  .CloudRenbow {
    top: -8%;
    width: 325px;
    left: -9%;
  }
  .tree_left {
    width: 403px;
    transform: translateX(-48%);
    bottom: 0px;
  }
  .tree_right {
    width: 426px;
    z-index: 123;
    right: 0;
    transform: translateX(40%);
    bottom: 0px;
  }
}
@media (min-width: 991.98px) {
  .CloudRenbow {
    top: 1%;
    width: 348px;
    left: -1%;
  }
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 17px;
    --fs-xl: 20px;
    --fs-xxl: 22px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 60px;
    --fs-5xl: 70px;
    --fs-6xl: 80px;
    --fs-50: 50px;
  }
  .mt_N_hero {
    margin-top: -60px;
  }
  .scale_1_1 {
    transform: scale(1.1);
  }
  .tree_left {
    width: 441px;
    transform: translateX(-46%);
    bottom: 14px;
  }
  .tree_right {
    width: 472px;
    z-index: 123;
    right: 0;
    transform: translateX(36%);
    bottom: 7px;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-xl: 20px;
    --fs-xxl: 22px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 60px;
    --fs-5xl: 70px;
    --fs-6xl: 80px;
    --fs-50: 50px;
  }
  .maxwidth_custom_hero_pera {
    max-width: 680px;
  }
  .tree_left {
    width: 512px;

    transform: translateX(-35%);
    bottom: 44px;
  }
  .tree_right {
    width: 504px;
    transform: translateX(25%);
    bottom: 44px;
  }
}
@media (min-width: 1440px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-xl: 20px;
    --fs-xxl: 22px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 60px;
    --fs-5xl: 70px;
    --fs-6xl: 80px;
    --fs-50: 50px;
  }
  .img_hero_wave_green {
    bottom: -2%;
  }
  .my-custom-container {
    max-width: 1140px !important;
  }
}
@media (min-width: 1600px) {
  .my-custom-container {
    max-width: 1320px !important;
  }

  .leftbear_img_aboutus::after {
    left: 4% !important;
  }
  .max_h_pinkwave {
    max-height: 477px !important;
  }
}
/* SECTION ROADMAP STARTS */
.roadmap-sec-bg {
  background-color: var(--clr-green);
}
.text_shadow_roadmap {
  text-shadow: 1px 4px var(--text-shaddow-clr-green);
}
.phases-box {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 14px;
  transition: 0.2s ease-in-out;
  height: 100%;
}
.phases-box:hover {
  border: 1px solid #bddcaa;
  background-color: var(--text-shaddow-clr-green);
}
.phases-box svg path {
  transition: 0.2s ease-in-out;
}
.phases-img {
  width: 80%;
}
.phases-box:hover svg path {
  opacity: 1;
}
.cursor-pointer {
  cursor: pointer;
}
.phase-1-tab-content {
  padding: 12px;
  border-radius: 31px;
  border: 6px solid var(--clr-white);
  background: var(--clr-Tab-bg-green);
  top: 50%;
  transform: translateY(-42%);
  max-height: 90%;
  width: 100%;
  overflow-y: scroll;
  z-index: 2;
  left: 0;
}
.mt--40 {
  margin-top: -48px;
}
.bullet-point {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: var(--clr-white);
}
.cross {
  position: sticky;
  -webkit-position: sticky;
  z-index: 3;
  top: -1%;
  left: 90%;
  transition: 0.1s ease-in-out;
}
.cross:active {
  scale: 0.8;
}
.phase-1-tab-content-animation {
  animation: phaseTabs 0.4s linear;
}
.roadmap-arrow {
  transition: 0.2s ease-in-out;
}
.phases-box:hover .roadmap-arrow {
  margin-left: 16px !important;
}
.roadmapwavewhite {
  top: 8%;
  left: 0;
}
.faq_left_tree_pos {
  bottom: -24%;
  max-width: 15%;
}
.top_right_tree {
  max-width: 30%;
  top: -7%;
}
#ScrollbarCustom ::-webkit-scrollbar {
  background-color: transparent;
}
#ScrollbarCustom ::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark-green);
  border-radius: 6px !important;
}
#ScrollbarCustom ::-webkit-scrollbar {
  display: block;
  width: 7px;
}
#ScrollbarCustom ::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 18px;
}
#ScrollbarCustom ::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 18px;
}
@keyframes phaseTabs {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
/* ------ */

/* FAQ */
.bg-yellow {
  background-color: var(--clr-yellow);
}
.faq-text {
  text-shadow: 2px 6px var(--text-shaddow-clr-yellow);
}
.accordion-item {
  max-width: 845px;
}
.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-border-color: none !important;
  --bs-accordion-border-width: none !important;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-bg: none !important;
}
.item-1 {
  border-radius: 8px;
}
.accordion-body {
  padding: 0 var(--bs-accordion-body-padding-x) 19px;
  margin-top: -4px;
}
.accordion-button::after {
  background-image: url("/src/assets/img/webp/accordionArrow.webp") !important;
  background-position: center;
}
.accordion-button {
  border-radius: 8px !important;
  padding: 19px 24px;
}
.footer-bg .hover_navlink::before {
  background-color: var(--clr-primary);
  opacity: 0.9;
}
/* ----- */

/* FOOTER */
.footer-bg {
  background-image: url("/src/assets/img/webp/footerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fixed_icon a {
  transition: all 0.3s ease-in-out;
  position: relative;
}
.fixed_icon a::after {
  content: "";
  position: absolute;
  border: 1px solid var(--clr-primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none !important;
}
.navbar-logo a::after {
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  width: 37px;
  height: 37px;
}
.fixed_icon a svg {
  transition: all 0.3s ease-in-out;
}
.fixed_icon:hover a svg {
  transform: scale(1.7);
}
.fixed_icon:hover a::after {
  transform: translate(-50%, -50%) scale(0);
}
.leftbear {
  bottom: 0%;
  left: 0%;
  width: 90px;
}
.rightbear {
  bottom: 0%;
  right: 0%;
  width: 70px;
}

/* ----- */
@media (min-width: 575.99px) {
  .leftbear {
    width: 150px;
  }
  .rightbear {
    width: 120px;
  }
  .phase-1-tab-content {
    top: 50%;
    transform: translateY(-30%);
    max-height: 550px;
  }
}
@media (min-width: 767.99px) {
  .phase-1-tab-content {
    padding: 24px;
  }
  .leftbear {
    width: 200px;
  }
  .rightbear {
    width: 150px;
  }
  .phase-1-tab-content {
    max-height: 550px;
  }
  .phase-1-tab-content {
    top: 50%;
    transform: translateY(-30%);
    max-height: 550px;
  }
}
@media (min-width: 991.99px) {
  .phases-box {
    padding: 20px 20px 20px 20px;
  }
  .phases-img {
    width: 220px;
  }
  .phase-1-tab-content {
    padding: 18px 30px;
  }
  .leftbear {
    width: 300px;
  }
  .rightbear {
    width: 250px;
  }
  .top_right_tree {
    max-width: 22%;
    top: -16%;
  }
  .phase-1-tab-content {
    max-height: 600px;
  }
  .mt--18 {
    margin-top: -18px;
  }
}
@media (min-width: 1200px) {
  .phase-1-tab-content {
    min-height: 540px;
    overflow-y: scroll;
  }
  .mt--40 {
    margin-top: -40px;
  }
}
